@model BilisimEgitimAnket.Models.YESIL

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>YESIL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kelime.SARI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kelime.SARI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOZCUK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOZCUK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUMLE1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUMLE1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUMLE2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUMLE2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUMLE3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUMLE3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OTAR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OTAR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GTAR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GTAR)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
