@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Şifreniz yenilenmiştir. Lütfen @Html.ActionLink("Giriş için tıklayın", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/css")
}